printf "\n"
printf "                           ▄▀▀▀▄▄▄▄▄▄▄▀▀▀▄\n"
printf "                           █▒▒░░░░░░░░░▒▒█\n"
printf "                            █░░█░░░░░█░░█\n"
printf "                         ▄▄  █░░░▀█▀░░░█  ▄▄\n"
printf "                        █░░█ ▀▄░░░░░░░▄▀ █░░█\n"
printf "                       █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█\n"
printf "                       █░░╦ ╦╔╗╦ ╔╗╔╗╔╦╗╔╗ ░░█\n"
printf "                       █░░║║║╠ ║ ║ ║║║║║╠  ░░█\n"
printf "                       █░░╚╩╝╚╝╚╝╚╝╚╝╩ ╩╚╝ ░░█\n"
printf "                       █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█\n"
