#!/bin/sh
echo "Welcome to $(hostname) SERVER $(uname -o) $(uname -r) $(uname -m)\n"

echo "                  ───▄▀▀▀▄▄▄▄▄▄▄▀▀▀▄───"
echo "                  ───█▒▒░░░░░░░░░▒▒█───"
echo "                  ────█░░█░░░░░█░░█────"
echo "                  ─▄▄──█░░░▀█▀░░░█──▄▄─"
echo "                  █░░█─▀▄░░░░░░░▄▀─█░░█"
echo "                  █▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀█"
echo "                  █░░╦─╦╔╗╦─╔╗╔╗╔╦╗╔╗░░█"
echo "                  █░░║║║╠─║─║─║║║║║╠─░░█"
echo "                  █░░╚╩╝╚╝╚╝╚╝╚╝╩─╩╚╝░░█"
echo "                  █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄█"


if [ "$UPDATES" -gt 0 ]; then
    printf " %s updates can be applied immediately.\n" "$UPDATES"
    printf " To see these additional updates run: apt list --upgradable\n"
fi
